$font-family: Roboto, 'Open Sans','Open Sans Variable', sans-serif;

$color-white: #ffffff;

$color-primary: #007749;
$color-primary-nn: rgb(66, 154, 120);

$color-gray-main: #38485c;
$color-secondary: #505e70;
$color-gray-disabled: #9eaab8;

$sidebar-width: 50px;
$sidebar-width--open: calc(300px - $sidebar-width);

$header-height: 60px;

$background-primary: #ffffff; // paper
$background-secondary: #f3f6f9; // default
