$font-family: Poppins, sans-serif;

$color-white: #ffffff;

$color-main: rgb(0, 119, 73);
$color-gray-main: #38485c;
$color-gray-alter-1: #505e70;
$color-gray-alter-2: #9eaab8;

$color-main-nn: rgb(66, 154, 120);
