$font-family: Roboto, 'Open Sans', 'Open Sans Variable', sans-serif;

$color-white: #ffffff;
$color-gray-toolbar: #d1d8df;
// $color-gray2: #e0e0e0;
// $color-gray2: #eeeeee;
// $color-gray2: #bdbdbd;

// ==============================|| MAIN COLORS ||============================== //

$primaryMain: #007749;
$primaryLight: #429a78;

$secondaryMain: #505e70;

$errorMain: #e41e2d;

$infoMain: #005c97;

$successMain: #003a76;

$warningMain: #ff8200;

$backgroundDefault: #f3f6f9;
$backgroundPaper: #ffffff;

$textPrimary: #38485c;
$textSecondary: $secondaryMain;
$textDisabled: #9eaabb;

// DataGrid
$backgroundRowHover: #ccced0;
$color-gray-toolbar: #d1d8df;

// ==============================|| JAVASCRIPT EXPORT ||============================== //
:export {
  backgroundDefault: $backgroundDefault;
  backgroundPaper: $backgroundPaper;
  backgroundRowHover: $backgroundRowHover;

  primaryMain: $primaryMain;

  primaryLight: $primaryLight;

  secondaryMain: $secondaryMain;

  errorMain: $errorMain;

  infoMain: $infoMain;

  successMain: $successMain;

  warningMain: $warningMain;

  textPrimary: $textPrimary;
  textSecondary: $textSecondary;
  textDisabled: $textDisabled;
}
