@use 'src/assets/scss/variables.scss' as VARS;

.content-sidebar {
  position: absolute;
  width: 60px;
  min-height: calc(100vh - 80px);
  background-color: VARS.$color-main;
}

.content-sidebar--open {
  width: 300px;
}
