@use 'src/assets/scss/variables.scss' as VARS;

.content-sidebar {
  position: absolute;
  width: VARS.$sidebar-width;
  min-height: calc(100vh - VARS.$header-height);
  background-color: VARS.$color-main;
}

.content-sidebar--open {
  width: VARS.$sidebar-width--open;
}
