@use 'src/assets/scss/variables.module.scss' as VARS;

.action-button {
  background-color: transparent;
  outline: none;
  border: none;

  border-left: 1px solid VARS.$secondaryMain;

  padding: 4px 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  // font-size: 0.875rem;
  font-weight: 600;

  width: 100px;

  color: VARS.$textPrimary;

  &--green {
    color: VARS.$primaryMain;
  }

  &:first-child {
    border-left: none;
  }

  > span {
    display: block;
    margin-left: 4px;
  }
}
