@use 'src/assets/scss/variables.scss' as VARS;

.content {
  display: none;
  flex-grow: 1;
  background-color: VARS.$color-main;

  &--open {
    display: initial;
  }

  &--self-open {
    position: absolute;
    top: 0;
    left: calc(VARS.$sidebar-width + 5px);
    min-width: VARS.$sidebar-width--open;
  }
}

.content-title {
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 10px;

  &--active {
    background-color: VARS.$color-main-nn;
  }

  &--hide {
    display: none;
  }

  > span {
    color: VARS.$color-white;
  }
}

.content-items {
  &--hide {
    display: none;
  }

  > li {
    list-style: none;

    display: flex;
    align-items: center;

    padding-left: 10px;

    &:hover {
      background-color: VARS.$color-main-nn;
    }

    > a {
      color: VARS.$color-white;
      text-decoration: none;
      height: 30px;
      width: 100%;
      line-height: 30px;
      font-size: 0.875rem;
    }
  }
}
