@use 'src/assets/scss/variables.scss' as VARS;

.header {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: VARS.$color-white;
}

.sidebar-trigger {
  background-color: VARS.$color-main;
  width: 60px;
  min-width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    display: block;
    color: VARS.$color-white;
    font-size: 30px;
    cursor: pointer;
  }
}

.header-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.header-brand {
  padding-left: 20px;

  h1 {
    color: VARS.$color-main;
    line-height: 2.10rem;
  }

  h2 {
    color: VARS.$color-gray-alter-1;
    line-height: 1.60rem;
  }
}

.icon-wrapper {
  border: 4px solid VARS.$color-gray-alter-1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;

  svg {
    color: VARS.$color-gray-alter-1;
    font-size: 25px;
  }
}

.icon-wrapper-search {
  margin-left: auto;
}

.icon-wrapper-help {
  margin-left: 10px;
}

.user-tools {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;

  svg {
    color: VARS.$color-gray-alter-1;
    font-size: 55px;
  }

  span {
    font-size: 1rem;
    letter-spacing: 0rem;
    line-height: 1.5rem;
  }
}
