@use 'src/assets/scss/variables.scss' as VARS;

.body {
  tr {
    td {
      height: 50px;
      max-height: 50px;

      padding: 0 0.87rem;

      // font-size: 0.87rem;

      color: VARS.$color-secondary;
    }

    &:nth-child(even) {
      background-color: VARS.$background-secondary;
    }

    &:nth-child(odd) {
      background-color: VARS.$color-white;
    }

    &:hover {
      background-color: #ccced0;
    }
  }
}
