@use 'src/assets/scss/variables.module.scss' as VARS;

.body {
  tr {
    td {
      height: 50px;
      max-height: 50px;

      padding: 0 0.87rem;

      // font-size: 0.87rem;

      color: VARS.$secondaryMain;
    }

    &:nth-child(even) {
      background-color: VARS.$backgroundDefault;
    }

    &:nth-child(odd) {
      background-color: VARS.$backgroundPaper;
    }

    &:hover {
      background-color: VARS.$backgroundRowHover;
    }
  }
}
