.login-container {
  display: flex;
  padding: 16px;
  background-color: white;
  width: 50%;
  border-radius: 12px;

  .login__title {
    margin-bottom: 20px;
  }

  .login__header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .login__welcome {
      font-size: x-large;
      font-weight: bold;
      color: rgb(94, 53, 177);
    }

    img {
      width: 100px;
    }
  }

  .login__input {
    width: 100%;
    border-radius: 40px;
  }

  .login__button {
    margin-top: 10px;
    color: white;
    background-color: rgb(94, 53, 177);
    &:hover {
      background: rgb(77, 43, 145);
      color: white;
    }
    position: relative;
  }
}

.respuesta-container {
  background-color: white;
  margin-top: 20px;
  border-radius: 12px;
  padding: 16px;
  width: 25%;
}
