@use '../breakpoints' as BP;

.app-nav {
  display: flex;
  position: fixed;
  padding: 0 16px;
  width: 280px;

  .nav-sidebar {
    width: 100%;

    ul {
      list-style: none;
      width: 100%;
    }

    li.section__title {
      margin: 10px 0px 0.35em;
      line-height: 1.66;
      display: block;
      color: rgb(33, 33, 33);
      font-size: 0.875rem;
      font-weight: 500;
      padding: 6px;
      text-transform: capitalize;
    }

    li.section__item {
      > a {
        -webkit-tap-highlight-color: transparent;
        outline: 0px;
        border: 0px;
        margin: 0px 0px 4px;
        cursor: pointer;
        user-select: none;
        vertical-align: middle;
        appearance: none;
        font-size: 0.875rem;
        display: flex;
        flex-grow: 1;
        justify-content: flex-start;
        position: relative;
        text-decoration: none;
        min-width: 0px;
        box-sizing: border-box;
        text-align: left;
        transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        padding: 10px 16px 10px 24px;
        color: rgb(97, 97, 97);
        border-radius: 8px;
        align-items: flex-start;

        > svg {
          font-size: 1rem;
        }

        > span {
          padding-left: 16px;
        }

        &.active {
          color: rgb(94, 53, 177);
          background-color: rgb(237, 231, 246);
        }

        &:hover {
          background-color: rgb(237, 231, 246);
          color: rgb(94, 53, 177);
        }
      }
    }

    li.section__item--submenu {
      > ul {
        padding-left: 20px;
      }

      &.is-collapsed {
        > ul {
          display: none;
        }
      }
    }
  }
}

#app-body.menu-closed {
  .app-nav {
    @include BP.sm {
      left: -280px;
    }
  }
}
