@use 'src/assets/scss/variables.scss' as VARS;

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 250px 16px;
  border-radius: 4px;

  font-weight: 500;

  + .button {
    margin-left: 8px;
  }
}

.button--primary {
  border: 1px solid VARS.$color-primary;

  background-color: VARS.$color-primary;

  color: VARS.$color-white;

  // &:hover {
  //   color: VARS.$color-white;

  //   background-color: VARS.$color-primary;

  //   border-color: VARS.$color-primary;
  // }
}

.button--primary-outlined {
  border: 1px solid VARS.$color-secondary;

  color: VARS.$color-primary;

  background-color: VARS.$color-white;

  &:hover {
    color: VARS.$color-white;

    background-color: VARS.$color-primary;

    border-color: VARS.$color-primary;
  }
}

.button--secondary-outlined {
  border: 1px solid VARS.$color-secondary;

  color: VARS.$color-secondary;

  background-color: VARS.$color-white;

  &:hover {
    color: VARS.$color-white;

    background-color: VARS.$color-secondary;

    border-color: VARS.$color-secondary;
  }
}

.button--icon {
  > svg {
    margin-right: 4px;
    font-size: 1.125rem;
  }
}
