@use 'src/assets/scss/variables.scss' as VARS;

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2px 16px;
  border-radius: 4px;

  font-size: 0.875rem;
  font-weight: 500;

  + .button {
    margin-left: 8px;
  }
}

.button--primary {
  border: 1px solid VARS.$color-main;

  background-color: VARS.$color-main;

  color: VARS.$color-white;

  // &:hover {
  //   color: VARS.$color-white;

  //   background-color: VARS.$color-main;

  //   border-color: VARS.$color-main;
  // }
}

.button--primary-outlined {
  border: 1px solid rgb(112, 112, 112);

  color: VARS.$color-main;

  background-color: VARS.$color-white;

  &:hover {
    color: VARS.$color-white;

    background-color: VARS.$color-main;

    border-color: VARS.$color-main;
  }
}

.button--secondary-outlined {
  border: 1px solid rgb(112, 112, 112);

  color: rgb(112, 112, 112);

  background-color: VARS.$color-white;

  &:hover {
    color: VARS.$color-white;

    background-color: rgb(112, 112, 112);

    border-color: rgb(112, 112, 112);
  }
}

.button--icon {
  > svg {
    margin-right: 4px;
    font-size: 1.125rem;
  }
}
