@use 'src/assets/scss/variables.scss' as VARS;

.content {
  display: flex;
  position: relative;
}

.content-page {
  padding: 10px 20px;
  padding-left: 70px;
  // max-height: calc(100vh - 120px);
  flex-grow: 1;
  background-color: VARS.$background-secondary;
  // overflow: scroll;
}
