.app-main {
  display: flex;
  width: calc(100vw - 280px);
  margin-left: 280px;
  padding-right: 20px;
  margin-top: 88px;
  transition: all 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;

  .main__container {
    width: 100%;
    min-height: calc(100vh - 88px);
    background-color: rgb(227, 242, 253);
    border-radius: 8px 8px 0px 0px;
    padding: 20px;
  }
}

#app-body.menu-closed {
  .app-main {
    padding-left: 20px;
    margin-left: 0;
    width: 100vw;
  }
}
