.head {
  tr {
    th {
      background-color: rgb(158, 170, 184);

      border: 1px solid rgb(112, 112, 112);
      border-bottom: none;

      color: rgb(246, 246, 246);
      text-align: left;

      height: 60px;

      padding: 0 25px;

      font-size: 0.95rem;

      text-transform: capitalize;
    }
  }
}
