@use 'src/assets/scss/variables.scss' as VARS;

.head {
  tr {
    th {
      background-color: VARS.$color-gray-disabled;

      border: 1px solid VARS.$color-secondary;
      border-bottom: none;

      color: VARS.$color-white;
      text-align: left;

      height: 60px;

      padding: 0 0.87rem;

      font-size: 0.95rem;

      text-transform: capitalize;
    }
  }
}
