@use 'src/assets/scss/variables' as VARS;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: VARS.$font-family !important;
}

span.muted {
  color: VARS.$color-gray-disabled;
}

// body {
//   background-color: VARS.$background-secondary;
// }

// Overrides

.MuiFormControl-root {
  width: 100% !important;
}

.MuiModal-root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

button {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.jc-end {
  justify-content: end;
}
