@use 'src/assets/scss/variables' as VARS;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: VARS.$font-family !important;
}

span.muted {
  color: #9e9e9e;
}

// Overrides

.MuiFormControl-root {
  width: 100% !important;
}

.MuiModal-root {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;

  // > .portlet {
  // width: 100%;
  // }
}

h1 {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  font-size: 2.3125rem;
  letter-spacing: -0.125rem;
  line-height: 2.75rem;
}

h2 {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  letter-spacing: -0.125rem;
  line-height: 2.125rem;
}
