@use 'src/assets/scss/variables.scss' as VARS;

.total-count {
  > label {
    font-weight: normal;
    margin-right: 4px;
  }

  > span {
    font-weight: bold;
  }

  > label,
  > span {
    // font-size: 0.875rem;

    color: VARS.$color-secondary;
  }
}
